/* Collection of quick CSS styles which are commonly used */
/* STYLING OF PHP ERROR MESSAGES IN WAMP */
.xdebug-error {
  font-size: 10px !important; }

pre {
  background: #FFFFFF;
  border: 1px solid;
  font-size: 10px !important; }

/* Fix form sizes */
textarea, input, select, button {
  box-sizing: border-box; }

/* Site CSS utils */
.pad0 {
  padding: 0 !important; }

.marg0 {
  margin: 0 !important; }

.removePadding {
  padding: 0 !important; }

.removeMargin {
  margin: 0 !important; }

.p100 {
  width: 100%; }

.margAuto {
  margin: auto; }

.txtAlignLeft {
  text-align: left; }

.txtAlignRight {
  text-align: right; }

.txtAlignCenter {
  text-align: center; }

.bgFacebook {
  background: #395f9e; }

.bgGoogle {
  background: #d01820; }

.bgTwitter {
  background: #00adef; }

.hand {
  cursor: pointer; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.bgFFFFFF {
  background: #FFFFFF; }

.bgEEEEEE {
  background: #EEEEEE; }

.bgDDDDDD {
  background: #DDDDDD; }

.bgCCCCCC {
  background: #CCCCCC; }

.bgBBBBBB {
  background: #BBBBBB; }

.bgAAAAAA {
  background: #AAAAAA; }

.bg999999 {
  background: #999999; }

.bg888888 {
  background: #888888; }

.bg777777 {
  background: #777777; }

.bg666666 {
  background: #666666; }

.bg555555 {
  background: #555555; }

.bg444444 {
  background: #444444; }

.bg333333 {
  background: #333333; }

.bg222222 {
  background: #222222; }

.bg111111 {
  background: #111111; }

.bg000000 {
  background: #000000; }

.bgCC0000 {
  background: #CC0000; }

.bg00CC00 {
  background: #00CC00; }

.bg0000CC {
  background: #0000CC; }

.bgFFCC00 {
  background: #FFCC00; }

.bg00FFFF {
  background: #00FFFF; }

.bgFFFF00 {
  background: #FFFF00; }

.bdsFFFFFF {
  border: 1px solid #FFFFFF; }

.bdsCCCCCC {
  border: 1px solid #CCCCCC; }

.bdsAAAAAA {
  border: 1px solid #AAAAAA; }

.bds999999 {
  border: 1px solid #999999; }

.bds666666 {
  border: 1px solid #666666; }

.bds333333 {
  border: 1px solid #333333; }

.bds000000 {
  border: 1px solid #000000; }

.bdsCC0000 {
  border: 1px solid #CC0000; }

.bds00CC00 {
  border: 1px solid #00CC00; }

.bds0000CC {
  border: 1px solid #0000CC; }

.bddFFFFFF {
  border: 1px dashed #FFFFFF; }

.bddCCCCCC {
  border: 1px dashed #CCCCCC; }

.bddAAAAAA {
  border: 1px dashed #AAAAAA; }

.bdd999999 {
  border: 1px dashed #999999; }

.bdd666666 {
  border: 1px dashed #666666; }

.bdd333333 {
  border: 1px dashed #333333; }

.bdd000000 {
  border: 1px dashed #000000; }

.bddCC0000 {
  border: 1px dashed #CC0000; }

.bdd00CC00 {
  border: 1px dashed #00CC00; }

.bdd0000CC {
  border: 1px dashed #0000CC; }

.round0 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.round1 {
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px; }

.round2 {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.round3 {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.round4 {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

.round5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.round6 {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.round7 {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; }

.round8 {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

.round9 {
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px; }

.round10 {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.round11 {
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px; }

.round12 {
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; }

.round20 {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }

.roundLeft {
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px; }

.roundRight {
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px; }

.roundTop {
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px; }

.roundBtm {
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px; }

.boxShadowTop {
  -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75); }

.boxShadowBtm {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75); }

.boxShadowLeft {
  -webkit-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.boxShadowRight {
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.txt10 {
  font-size: 10px; }

.txt11 {
  font-size: 11px; }

.txt12 {
  font-size: 12px; }

.txt13 {
  font-size: 13px; }

.txt14 {
  font-size: 14px; }

.txt15 {
  font-size: 15px; }

.txt16 {
  font-size: 16px; }

.txt17 {
  font-size: 17px; }

.txt18 {
  font-size: 18px; }

.txt19 {
  font-size: 19px; }

.txt20 {
  font-size: 20px; }

.txt21 {
  font-size: 21px; }

.txt22 {
  font-size: 22px; }

.txt23 {
  font-size: 23px; }

.txt24 {
  font-size: 24px; }

.txt25 {
  font-size: 25px; }

.txt26 {
  font-size: 26px; }

.txt27 {
  font-size: 27px; }

.txt28 {
  font-size: 28px; }

.txt29 {
  font-size: 29px; }

.txt30 {
  font-size: 30px; }

.txt31 {
  font-size: 31px; }

.txt32 {
  font-size: 32px; }

.txt33 {
  font-size: 33px; }

.txt34 {
  font-size: 34px; }

.txt36 {
  font-size: 36px; }

.txt38 {
  font-size: 38px; }

.txt40 {
  font-size: 40px; }

.txt50 {
  font-size: 50px; }

.txt60 {
  font-size: 60px; }

.txt70 {
  font-size: 70px; }

.txt80 {
  font-size: 80px; }

.txt90 {
  font-size: 90px; }

.txt100 {
  font-size: 100px; }

.txt150 {
  font-size: 150px; }

.lineH10 {
  line-height: 10px; }

.lineH11 {
  line-height: 11px; }

.lineH12 {
  line-height: 12px; }

.lineH13 {
  line-height: 13px; }

.lineH14 {
  line-height: 14px; }

.lineH15 {
  line-height: 15px; }

.lineH16 {
  line-height: 16px; }

.lineH17 {
  line-height: 17px; }

.lineH18 {
  line-height: 18px; }

.lineH19 {
  line-height: 19px; }

.lineH20 {
  line-height: 20px; }

.lineH21 {
  line-height: 21px; }

.lineH22 {
  line-height: 22px; }

.lineH23 {
  line-height: 23px; }

.lineH24 {
  line-height: 24px; }

.lineH25 {
  line-height: 25px; }

.lineH26 {
  line-height: 26px; }

.lineH27 {
  line-height: 27px; }

.lineH28 {
  line-height: 28px; }

.lineH29 {
  line-height: 29px; }

.lineH30 {
  line-height: 30px; }

.lineH31 {
  line-height: 31px; }

.lineH32 {
  line-height: 32px; }

.lineH33 {
  line-height: 33px; }

.lineH34 {
  line-height: 34px; }

.txt000000 {
  color: #000000; }

.txt111111 {
  color: #111111; }

.txt222222 {
  color: #222222; }

.txt333333 {
  color: #333333; }

.txt444444 {
  color: #444444; }

.txt555555 {
  color: #555555; }

.txt666666 {
  color: #666666; }

.txt777777 {
  color: #777777; }

.txt888888 {
  color: #888888; }

.txt999999 {
  color: #999999; }

.txtAAAAAA {
  color: #AAAAAA; }

.txtBBBBBB {
  color: #BBBBBB; }

.txtCCCCCC {
  color: #CCCCCC; }

.txtDDDDDD {
  color: #DDDDDD; }

.txtEEEEEE {
  color: #EEEEEE; }

.txtFFFFFF {
  color: #FFFFFF; }

.txtCC0000 {
  color: #CC0000; }

.txt00CC00 {
  color: #00CC00; }

.txt0000CC {
  color: #0000CC; }

.txtFFCC00 {
  color: #FFCC00; }

.txtCCCC00 {
  color: #CCCC00; }

.txtFFFF00 {
  color: #FFFF00; }

.pad2 {
  padding: 2px; }

.pad3 {
  padding: 3px; }

.pad4 {
  padding: 4px; }

.pad5 {
  padding: 5px; }

.pad6 {
  padding: 6px; }

.pad7 {
  padding: 7px; }

.pad8 {
  padding: 8px; }

.pad9 {
  padding: 9px; }

.pad10 {
  padding: 10px; }

.pad20 {
  padding: 20px; }

.pad30 {
  padding: 30px; }

.pad40 {
  padding: 40px; }

.pad50 {
  padding: 50px; }

.pad60 {
  padding: 60px; }

.pad70 {
  padding: 70px; }

.pad80 {
  padding: 80px; }

.pad90 {
  padding: 90px; }

.pad100 {
  padding: 100px; }

.pad110 {
  padding: 110px; }

.pad120 {
  padding: 120px; }

.pad130 {
  padding: 130px; }

.pad140 {
  padding: 140px; }

.pad150 {
  padding: 150px; }

.pad160 {
  padding: 160px; }

.pad170 {
  padding: 170px; }

.pad180 {
  padding: 180px; }

.pad190 {
  padding: 190px; }

.pad200 {
  padding: 200px; }

.padTop2 {
  padding-top: 2px; }

.padTop3 {
  padding-top: 3px; }

.padTop4 {
  padding-top: 4px; }

.padTop5 {
  padding-top: 5px; }

.padTop6 {
  padding-top: 6px; }

.padTop7 {
  padding-top: 7px; }

.padTop8 {
  padding-top: 8px; }

.padTop9 {
  padding-top: 9px; }

.padTop10 {
  padding-top: 10px; }

.padTop20 {
  padding-top: 20px; }

.padTop30 {
  padding-top: 30px; }

.padTop40 {
  padding-top: 40px; }

.padTop50 {
  padding-top: 50px; }

.padTop60 {
  padding-top: 60px; }

.padTop70 {
  padding-top: 70px; }

.padTop80 {
  padding-top: 80px; }

.padTop90 {
  padding-top: 90px; }

.padTop100 {
  padding-top: 100px; }

.padTop110 {
  padding-top: 110px; }

.padTop120 {
  padding-top: 120px; }

.padTop130 {
  padding-top: 130px; }

.padTop140 {
  padding-top: 140px; }

.padTop150 {
  padding-top: 150px; }

.padTop160 {
  padding-top: 160px; }

.padTop170 {
  padding-top: 170px; }

.padTop180 {
  padding-top: 180px; }

.padTop190 {
  padding-top: 190px; }

.padTop200 {
  padding-top: 200px; }

.padBtm2 {
  padding-bottom: 2px; }

.padBtm3 {
  padding-bottom: 3px; }

.padBtm4 {
  padding-bottom: 4px; }

.padBtm5 {
  padding-bottom: 5px; }

.padBtm6 {
  padding-bottom: 6px; }

.padBtm7 {
  padding-bottom: 7px; }

.padBtm8 {
  padding-bottom: 8px; }

.padBtm9 {
  padding-bottom: 9px; }

.padBtm10 {
  padding-bottom: 10px; }

.padBtm20 {
  padding-bottom: 20px; }

.padBtm30 {
  padding-bottom: 30px; }

.padBtm40 {
  padding-bottom: 40px; }

.padBtm50 {
  padding-bottom: 50px; }

.padBtm60 {
  padding-bottom: 60px; }

.padBtm70 {
  padding-bottom: 70px; }

.padBtm80 {
  padding-bottom: 80px; }

.padBtm90 {
  padding-bottom: 90px; }

.padBtm100 {
  padding-bottom: 100px; }

.padBtm110 {
  padding-bottom: 110px; }

.padBtm120 {
  padding-bottom: 120px; }

.padBtm130 {
  padding-bottom: 130px; }

.padBtm140 {
  padding-bottom: 140px; }

.padBtm150 {
  padding-bottom: 150px; }

.padBtm160 {
  padding-bottom: 160px; }

.padBtm170 {
  padding-bottom: 170px; }

.padBtm180 {
  padding-bottom: 180px; }

.padBtm190 {
  padding-bottom: 190px; }

.padBtm200 {
  padding-bottom: 200px; }

.padLeft2 {
  padding-left: 2px; }

.padLeft3 {
  padding-left: 3px; }

.padLeft4 {
  padding-left: 4px; }

.padLeft5 {
  padding-left: 5px; }

.padLeft6 {
  padding-left: 6px; }

.padLeft7 {
  padding-left: 7px; }

.padLeft8 {
  padding-left: 8px; }

.padLeft9 {
  padding-left: 9px; }

.padLeft10 {
  padding-left: 10px; }

.padLeft20 {
  padding-left: 20px; }

.padLeft30 {
  padding-left: 30px; }

.padLeft40 {
  padding-left: 40px; }

.padLeft50 {
  padding-left: 50px; }

.padLeft60 {
  padding-left: 60px; }

.padLeft70 {
  padding-left: 70px; }

.padLeft80 {
  padding-left: 80px; }

.padLeft90 {
  padding-left: 90px; }

.padLeft100 {
  padding-left: 100px; }

.padLeft110 {
  padding-left: 110px; }

.padLeft120 {
  padding-left: 120px; }

.padLeft130 {
  padding-left: 130px; }

.padLeft140 {
  padding-left: 140px; }

.padLeft150 {
  padding-left: 150px; }

.padLeft160 {
  padding-left: 160px; }

.padLeft170 {
  padding-left: 170px; }

.padLeft180 {
  padding-left: 180px; }

.padLeft190 {
  padding-left: 190px; }

.padLeft200 {
  padding-left: 200px; }

.padRight2 {
  padding-right: 2px; }

.padRight3 {
  padding-right: 3px; }

.padRight4 {
  padding-right: 4px; }

.padRight5 {
  padding-right: 5px; }

.padRight6 {
  padding-right: 6px; }

.padRight7 {
  padding-right: 7px; }

.padRight8 {
  padding-right: 8px; }

.padRight9 {
  padding-right: 9px; }

.padRight10 {
  padding-right: 10px; }

.padRight20 {
  padding-right: 20px; }

.padRight30 {
  padding-right: 30px; }

.padRight40 {
  padding-right: 40px; }

.padRight50 {
  padding-right: 50px; }

.padRight60 {
  padding-right: 60px; }

.padRight70 {
  padding-right: 70px; }

.padRight80 {
  padding-right: 80px; }

.padRight90 {
  padding-right: 90px; }

.padRight100 {
  padding-right: 100px; }

.padRight110 {
  padding-right: 110px; }

.padRight120 {
  padding-right: 120px; }

.padRight130 {
  padding-right: 130px; }

.padRight140 {
  padding-right: 140px; }

.padRight150 {
  padding-right: 150px; }

.padRight160 {
  padding-right: 160px; }

.padRight170 {
  padding-right: 170px; }

.padRight180 {
  padding-right: 180px; }

.padRight190 {
  padding-right: 190px; }

.padRight200 {
  padding-right: 200px; }

.margTopN1 {
  margin-top: -1px; }

.margTopN2 {
  margin-top: -2px; }

.margTopN3 {
  margin-top: -3px; }

.margTopN4 {
  margin-top: -4px; }

.margTopN5 {
  margin-top: -5px; }

.marg2 {
  margin: 2px; }

.marg3 {
  margin: 3px; }

.marg4 {
  margin: 4px; }

.marg5 {
  margin: 5px; }

.marg6 {
  margin: 6px; }

.marg7 {
  margin: 7px; }

.marg8 {
  margin: 8px; }

.marg9 {
  margin: 9px; }

.marg10 {
  margin: 10px; }

.marg20 {
  margin: 20px; }

.marg30 {
  margin: 30px; }

.marg40 {
  margin: 40px; }

.marg50 {
  margin: 50px; }

.marg60 {
  margin: 60px; }

.marg70 {
  margin: 70px; }

.marg80 {
  margin: 80px; }

.marg90 {
  margin: 90px; }

.marg100 {
  margin: 100px; }

.marg110 {
  margin: 110px; }

.marg120 {
  margin: 120px; }

.marg130 {
  margin: 130px; }

.marg140 {
  margin: 140px; }

.marg150 {
  margin: 150px; }

.marg160 {
  margin: 160px; }

.marg170 {
  margin: 170px; }

.marg180 {
  margin: 180px; }

.marg190 {
  margin: 190px; }

.marg200 {
  margin: 200px; }

.margTop2 {
  margin-top: 2px; }

.margTop3 {
  margin-top: 3px; }

.margTop4 {
  margin-top: 4px; }

.margTop5 {
  margin-top: 5px; }

.margTop6 {
  margin-top: 6px; }

.margTop7 {
  margin-top: 7px; }

.margTop8 {
  margin-top: 8px; }

.margTop9 {
  margin-top: 9px; }

.margTop10 {
  margin-top: 10px; }

.margTop20 {
  margin-top: 20px; }

.margTop30 {
  margin-top: 30px; }

.margTop40 {
  margin-top: 40px; }

.margTop50 {
  margin-top: 50px; }

.margTop60 {
  margin-top: 60px; }

.margTop70 {
  margin-top: 70px; }

.margTop80 {
  margin-top: 80px; }

.margTop90 {
  margin-top: 90px; }

.margTop100 {
  margin-top: 100px; }

.margTop110 {
  margin-top: 110px; }

.margTop120 {
  margin-top: 120px; }

.margTop130 {
  margin-top: 130px; }

.margTop140 {
  margin-top: 140px; }

.margTop150 {
  margin-top: 150px; }

.margTop160 {
  margin-top: 160px; }

.margTop170 {
  margin-top: 170px; }

.margTop180 {
  margin-top: 180px; }

.margTop190 {
  margin-top: 190px; }

.margTop200 {
  margin-top: 200px; }

.margBtm2 {
  margin-bottom: 2px; }

.margBtm3 {
  margin-bottom: 3px; }

.margBtm4 {
  margin-bottom: 4px; }

.margBtm5 {
  margin-bottom: 5px; }

.margBtm6 {
  margin-bottom: 6px; }

.margBtm7 {
  margin-bottom: 7px; }

.margBtm8 {
  margin-bottom: 8px; }

.margBtm9 {
  margin-bottom: 9px; }

.margBtm10 {
  margin-bottom: 10px; }

.margBtm20 {
  margin-bottom: 20px; }

.margBtm30 {
  margin-bottom: 30px; }

.margBtm40 {
  margin-bottom: 40px; }

.margBtm50 {
  margin-bottom: 50px; }

.margBtm60 {
  margin-bottom: 60px; }

.margBtm70 {
  margin-bottom: 70px; }

.margBtm80 {
  margin-bottom: 80px; }

.margBtm90 {
  margin-bottom: 90px; }

.margBtm100 {
  margin-bottom: 100px; }

.margBtm110 {
  margin-bottom: 110px; }

.margBtm120 {
  margin-bottom: 120px; }

.margBtm130 {
  margin-bottom: 130px; }

.margBtm140 {
  margin-bottom: 140px; }

.margBtm150 {
  margin-bottom: 150px; }

.margBtm160 {
  margin-bottom: 160px; }

.margBtm170 {
  margin-bottom: 170px; }

.margBtm180 {
  margin-bottom: 180px; }

.margBtm190 {
  margin-bottom: 190px; }

.margBtm200 {
  margin-bottom: 200px; }

.margLeft2 {
  margin-left: 2px; }

.margLeft3 {
  margin-left: 3px; }

.margLeft4 {
  margin-left: 4px; }

.margLeft5 {
  margin-left: 5px; }

.margLeft6 {
  margin-left: 6px; }

.margLeft7 {
  margin-left: 7px; }

.margLeft8 {
  margin-left: 8px; }

.margLeft9 {
  margin-left: 9px; }

.margLeft10 {
  margin-left: 10px; }

.margLeft20 {
  margin-left: 20px; }

.margLeft30 {
  margin-left: 30px; }

.margLeft40 {
  margin-left: 40px; }

.margLeft50 {
  margin-left: 50px; }

.margLeft60 {
  margin-left: 60px; }

.margLeft70 {
  margin-left: 70px; }

.margLeft80 {
  margin-left: 80px; }

.margLeft90 {
  margin-left: 90px; }

.margLeft100 {
  margin-left: 100px; }

.margLeft110 {
  margin-left: 110px; }

.margLeft120 {
  margin-left: 120px; }

.margLeft130 {
  margin-left: 130px; }

.margLeft140 {
  margin-left: 140px; }

.margLeft150 {
  margin-left: 150px; }

.margLeft160 {
  margin-left: 160px; }

.margLeft170 {
  margin-left: 170px; }

.margLeft180 {
  margin-left: 180px; }

.margLeft190 {
  margin-left: 190px; }

.margLeft200 {
  margin-left: 200px; }

.margRight2 {
  margin-right: 2px; }

.margRight3 {
  margin-right: 3px; }

.margRight4 {
  margin-right: 4px; }

.margRight5 {
  margin-right: 5px; }

.margRight6 {
  margin-right: 6px; }

.margRight7 {
  margin-right: 7px; }

.margRight8 {
  margin-right: 8px; }

.margRight9 {
  margin-right: 9px; }

.margRight10 {
  margin-right: 10px; }

.margRight20 {
  margin-right: 20px; }

.margRight30 {
  margin-right: 30px; }

.margRight40 {
  margin-right: 40px; }

.margRight50 {
  margin-right: 50px; }

.margRight60 {
  margin-right: 60px; }

.margRight70 {
  margin-right: 70px; }

.margRight80 {
  margin-right: 80px; }

.margRight90 {
  margin-right: 90px; }

.margRight100 {
  margin-right: 100px; }

.margRight110 {
  margin-right: 110px; }

.margRight120 {
  margin-right: 120px; }

.margRight130 {
  margin-right: 130px; }

.margRight140 {
  margin-right: 140px; }

.margRight150 {
  margin-right: 150px; }

.margRight160 {
  margin-right: 160px; }

.margRight170 {
  margin-right: 170px; }

.margRight180 {
  margin-right: 180px; }

.margRight190 {
  margin-right: 190px; }

.margRight200 {
  margin-right: 200px; }

.w5 {
  width: 5px; }

.w10 {
  width: 10px; }

.w15 {
  width: 15px; }

.w20 {
  width: 20px; }

.w25 {
  width: 25px; }

.w30 {
  width: 30px; }

.w35 {
  width: 35px; }

.w40 {
  width: 40px; }

.w45 {
  width: 45px; }

.w50 {
  width: 50px; }

.w55 {
  width: 55px; }

.w60 {
  width: 60px; }

.w65 {
  width: 65px; }

.w70 {
  width: 70px; }

.w75 {
  width: 75px; }

.w80 {
  width: 80px; }

.w85 {
  width: 85px; }

.w90 {
  width: 90px; }

.w95 {
  width: 95px; }

.w100 {
  width: 100px; }

.w125 {
  width: 125px; }

.w150 {
  width: 150px; }

.w175 {
  width: 175px; }

.w200 {
  width: 200px; }

.w225 {
  width: 225px; }

.w250 {
  width: 250px; }

.w275 {
  width: 275px; }

.w300 {
  width: 300px; }

.w325 {
  width: 325px; }

.w350 {
  width: 350px; }

.w375 {
  width: 375px; }

.w400 {
  width: 400px; }

.w425 {
  width: 425px; }

.w450 {
  width: 450px; }

.w475 {
  width: 475px; }

.w500 {
  width: 500px; }

.w525 {
  width: 525px; }

.w550 {
  width: 550px; }

.w575 {
  width: 575px; }

.w600 {
  width: 600px; }

.w625 {
  width: 625px; }

.w650 {
  width: 650px; }

.w675 {
  width: 675px; }

.w700 {
  width: 700px; }

.w725 {
  width: 725px; }

.w750 {
  width: 750px; }

.w775 {
  width: 775px; }

.w800 {
  width: 800px; }

.w100p {
  width: 100%; }

.w99p {
  width: 99%; }

.w95p {
  width: 95%; }

.w65p {
  width: 65%; }

.w32p {
  width: 32%; }

.w49p {
  width: 49%; }

.w24p {
  width: 24%; }

.w25p {
  width: 25%; }

.w33p {
  width: 33%; }

.w50p {
  width: 50%; }

.h0 {
  height: 0; }

.h5 {
  height: 5px; }

.h10 {
  height: 10px; }

.h20 {
  height: 20px; }

.h30 {
  height: 30px; }

.h40 {
  height: 40px; }

.h50 {
  height: 50px; }

.h60 {
  height: 60px; }

.h70 {
  height: 70px; }

.h80 {
  height: 80px; }

.h90 {
  height: 90px; }

.h100 {
  height: 100px; }

.h110 {
  height: 110px; }

.h120 {
  height: 120px; }

.h130 {
  height: 130px; }

.h140 {
  height: 140px; }

.h150 {
  height: 150px; }

.h160 {
  height: 160px; }

.h170 {
  height: 170px; }

.h180 {
  height: 180px; }

.h190 {
  height: 190px; }

.h200 {
  height: 200px; }

.hgap5 {
  display: block;
  height: 5px; }

.hgap10 {
  display: block;
  height: 10px; }

.hgap20 {
  display: block;
  height: 20px; }

.hgap30 {
  display: block;
  height: 30px; }

.hgap40 {
  display: block;
  height: 40px; }

.hgap50 {
  display: block;
  height: 50px; }

.hgap60 {
  display: block;
  height: 60px; }

.hgap70 {
  display: block;
  height: 70px; }

.hgap80 {
  display: block;
  height: 80px; }

.hgap90 {
  display: block;
  height: 90px; }

.hgap100 {
  display: block;
  height: 100px; }

.hgap150 {
  display: block;
  height: 150px; }

.hgap200 {
  display: block;
  height: 200px; }

.hgap250 {
  display: block;
  height: 250px; }

.hgap300 {
  display: block;
  height: 300px; }

.hgap350 {
  display: block;
  height: 350px; }

.hgap400 {
  display: block;
  height: 400px; }

.hgap450 {
  display: block;
  height: 450px; }

.hgap500 {
  display: block;
  height: 500px; }

.pos-fixed {
  position: fixed; }

.pos-relative {
  position: relative; }

.pos-absolute {
  position: absolute; }

.pos-static {
  position: static; }

.display-none {
  display: none; }

.display-block {
  display: block; }

.display-inline-block {
  display: inline-block; }

.inline-block {
  display: inline-block; }

.display-inline {
  display: inline; }

.display-table {
  display: table; }

.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.center {
  text-align: center; }

.text-align-center {
  text-align: center; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.overflow-none {
  overflow: none; }

.overflow-hidden {
  overflow: hidden; }

.overflow-visible {
  overflow: visible; }

.overflow-scroll {
  overflow: scroll; }

.rotate-180 {
  transform: rotate(180deg); }

.rotate-180 li {
  transform: rotate(180deg); }

.rotate-neg-180 {
  transform: rotate(-180deg); }

.rotate-neg-180 li {
  transform: rotate(-180deg); }

.white-space-normal {
  white-space: normal !important; }

.white-space-nowrap {
  white-space: nowrap !important; }

.txt-bold {
  font-weight: bold; }

.txt-normal {
  font-weight: normal; }

.txt-underline {
  text-decoration: underline; }

.txt-underline-none {
  text-decoration: none; }

.txt-nounderline {
  text-decoration: none; }

.txt-no-wrap {
  white-space: nowrap !important; }

.no-wrap {
  white-space: nowrap !important; }

.single-line {
  white-space: nowrap !important; }

.txt-italic {
  font-style: italic; }

.italic {
  font-style: italic; }

.flex-container {
  display: flex; }

.flex-container .col {
  overflow: hidden; }

.flex-container .col-order-1 {
  order: 1; }

.flex-container .col-order-2 {
  order: 2; }

.flex-container .col-order-3 {
  order: 3; }

.flex-container .col-order-4 {
  order: 4; }

.flex-container .col-fluid {
  flex-grow: 1;
  flex-shrink: 0; }

.flex-container .col-fixed {
  flex-grow: 0;
  flex-shrink: 0; }

@media print {
  .no-print, .no-print * {
    display: none !important; } }
.clearFix {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.clearFixAfter:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/*# sourceMappingURL=aftc.css.map */
