.flex-row {
    display: flex;
}

.flex-row .col {
    overflow: hidden;
}

// Mix and match columns
.flex-col-80 {
    flex: 0 0 80%;
}

.flex-col-75 {
    flex: 0 0 75%;
}

.flex-col-66 {
    flex: 0 0 66%;
}

// 2 Columns
.flex-col-50 {
    flex: 0 0 50%;
}

// 3 Columns
.flex-col-33 {
    flex: 0 0 33.32%;
}

// 4 Columns
.flex-col-25 {
    flex: 0 0 25%;
}

// 5 Columns
.flex-col-20 {
    flex: 0 0 20%;
}

// 8 Columns
.flex-8-col {
    flex: 0 0 12.5%;
}

// 10 Columns
.flex-10-col {
    flex: 0 0 10%;
}

// 12 Columns
.flex-12-col {
    flex: 0 0 8.32%;
}

@for $i from 1 through 12 {
    .flex-row .col-order--#{$i} {
        order: $i;
    }
}

.flex-row .col-order-1 {
    order: 1;
}

.flex-row .col-fluid {
    flex-grow: 1;
    flex-shrink: 0;
}

.flex-row .col-fixed {
    flex-grow: 0;
    flex-shrink: 0;
}