// NOTE: It is recommended that you use an editor with css intelisense capabilities


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$numListPadding: 0,1,2,3,4,5,10,15,20,25,30,40,50,75,100,150,200,250,300,350,400,450,500;
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@each $num in $numListPadding {

  .padding-#{$num} {
    padding:#{$num}px !important;
  }

  .padding-left-#{$num} {
    padding-left:#{$num}px !important;
  }

  .padding-right-#{$num} {
    padding-right:#{$num}px !important;
  }

  .padding-top-#{$num} {
    padding-top:#{$num}px !important;
  }

  .padding-bottom-#{$num} {
    padding-bottom:#{$num}px !important;
  }

}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



.padding-auto {
  padding: auto !important;
}

