// NOTE: It is recommended that you use an editor with css intelisense capabilities


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$numListFixedSpacing: 
0,1,2,3,4,5,10,15,20,25,30,40,50,60,70,80,90,100,125,150,175,200,225,250,275,300,350,400,450,500,550,600,650,700,750,800,860,960;
// yes 0 can be useful
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@each $num in $numListFixedSpacing {

  .w-#{$num} { 
    width:#{$num}px !important;
  }

  .h-#{$num} {
    height:#{$num}px !important;
  }

}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -





// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$numListPercentageWidths: 0,9,10,11,24,25,26,32,33,34,49,50,51,64,65,66,74,75,76,95,98,99,100;
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@each $num in $numListPercentageWidths {

  .w-#{$num}p { 
    width: #{$num}#{"%"};
  }

}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


