// NOTE: It is recommended that you use an editor with css intelisense capabilities


/* STYLING OF PHP xdebug ERRORS */
.xdebug-error { font-size: 10px !important; }

/* Fix form sizes */
textarea,input,select,button {
  box-sizing: border-box;
}


// Utilities

.hide, .hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.visibility-visible, .visible { visibility: visible !important; }
.visibility-hidden { visibility: hidden !important; }


.text-align-left, .txt-left { text-align: left !important; }
.text-align-right, .txt-right { text-align: right !important; }
.text-align-center, .txt-center { text-align: center !important; }
.center { text-align: center !important; }


.hand, .pointer {
  cursor: pointer;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fixed { position: fixed !important; }
.relative { position: relative !important; }
.absolute { position: absolute !important; }
.static { position: static !important; }

.display-none { display: none !important; }
.display-block { display: block !important; }
.display-inline-block { display: inline-block !important; }
.display-inline { display: inline !important; }

.block { display: block !important; }
.inline-block { display: inline-block !important; }
.inline { display: inline !important; }

.float-left { float: left !important; }
.float-right { float: right !important; }

.overflow-none { overflow: none !important; }
.overflow-hidden { overflow: hidden !important; }
.overflow-visible { overflow: visible !important; }
.overflow-scroll { overflow: scroll !important; }



.white-space-normal { white-space: normal !important; }
.white-space-nowrap { white-space: nowrap !important; }

.txt-bold, .b { font-weight: bold; }
.txt-normal { font-weight: normal; }
.txt-underline, .u { text-decoration: underline; }
.txt-underline-none { text-decoration: none; }
.txt-no-underline { text-decoration: none; }
.txt-no-wrap { white-space: nowrap !important; }
.no-wrap { white-space: nowrap !important; }
.single-line { white-space: nowrap !important; }
.txt-italic { font-style: italic; }
.italic { font-style: italic; }




details {
  margin: 0 0 10px 0;
  font-size: 0.9em;
}

details summary {
  border: none;
  outline: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

details summary:hover {
 text-decoration: underline;
}
